@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>@Html.ActionLink("See all books", "Index", "Books")</p> 
    <p>@Html.ActionLink("See all authors", "Index", "Authors")</p>
    <p>@Html.ActionLink("Search", "Search", "Books")</p>
    <p>@Html.ActionLink("Create an account", "Index", "Account")</p>

</div>
